
@{
    ViewBag.Title = "Index";
}

<h2>Xin chào các bạn</h2>

<h5>Email confirm token: @ViewBag.EmailConfirmationToken</h5>
<h5>phone number token for 0123456789: @ViewBag.ChangePhoneNumberToken</h5>
<h5>Password reset token: @ViewBag.PasswordResetToken</h5>