@model ViewModels.Admin.ScheduleViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int animeId = ViewBag.AnimeId ?? 0;

}

<h2>Xoá dữ liệu</h2>

<h3>Bạn có chắc chắn muốn xoá không?</h3>
<h3>Khi xoá không thể khôi phục</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xoá" class="btn btn-danger" />
        @Html.ActionLink("Quay lại", "Index", new { area = "Admin", animeId }, new { @class = "btn btn-default" })
    </div>
    }
</div>
