
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyEmailConfirmation</title>
</head>
<body>
    <div> 
        Mail đã gửi thành công, kiểm tra hộp thư đến hoặc spam nhé
    </div>
</body>
</html>
